snippet proj "A project's frontmatter" b
---
title: ${1:Project Title}
organization: ${2:Organization the project was for}
dates: ${3:January 2019}
link: ${4:https//:example.com}
githubLink: ${5:username/repo-name}
technologies: [${6:'Nunjucks', 'Sass', 'JavaScript'}]
role: ${7:Sole Developer and Designer}
image: '../../images/projects/${8:project-name.png}'
---
endsnippet
