<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ site.title }}
  </title>

  

  {% if page.title == site.title %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bigfoot-default.css">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bigfoot-number.css">
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles.css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bigfoot.min.js"></script>
<script type="text/javascript">
  $.bigfoot();
</script>
</head>