.landing {
  .nathan {
    display: block;
    margin: 10px auto 35px;
    border-radius: 50%;
    width: 100%;
    max-width: 45%;
    border: 15px solid rgba(0, 0, 0, 0.025);
  }

  a {
    color: black;
    font-weight: bold;
  }
}
