.nathan {
  display: block;
  margin: 0 auto 35px;
  border-radius: 50%;
  max-width: 12em;
  @include media('>=tablet') {
    // max-width: em;
    border: 15px solid rgba(0, 0, 0, 0.025);
  }
  border: 8px solid rgba(0, 0, 0, 0.025);
}
