.landing {
  .nathan {
    display: block;
    margin: 0 auto 35px;
    border-radius: 50%;

    @media (min-width: $large-breakpoint) {
      max-width: 45%;
      border: 15px solid rgba(0, 0, 0, 0.025);
    }
    
    max-width: 85%;
    border: 8px solid rgba(0, 0, 0, 0.025);
  }

  a {
    color: black;
    font-weight: bold;
  }
}
