// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  // background-color: rgba(1, 1, 1, 0.4);
  width: 100%;

  h1 {
    display: inline-block;

    a:hover {
      color: black;
    }
  }

  nav {
    margin-top: 17px;
    display: inline-block;
    float: right;

    @include media('<=phone') {
      margin-top: 0;
      display: inherit;
      float: inherit;
    }
  }

  nav a {
    text-transform: lowercase;
    padding-right: 5px;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: black;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: 0.5;
  }
}
