@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --color-primary: #000;
  --color-primary-hover: rgba(0, 0, 0, 0.6);
  --color-background: #fff;
  --color-border: rgba(0, 0, 0, 0.025);
  --color-link-underline: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #fff;
    --color-primary-hover: rgba(255, 255, 255, 0.6);
    --color-background: #1a1a1a;
    --color-border: rgba(255, 255, 255, 0.025);
    --color-link-underline: rgba(255, 255, 255, 0.1);
  }
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
}


a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 1px solid var(--color-link-underline);
  transition-duration: 50ms, 0.1s, 0.1s;
  transition-timing-function: linear;
  transition-property: border-color, color, padding-bottom;

  &:hover {
    opacity: 0.6;
    border-bottom: transparent;
    padding-bottom: 1px;
  }
}

/* pre code { */
/*   padding: 2px 5px; */
/*   background-color: #f2f2f2; */
/*   color: #222; */
/*   display: block; */
/*   padding: 20px; */
/*   font-size: 14px; */
/*   @apply overflow-x-scroll; */
/*   word-break: keep-all; */
/*   @apply rounded; */
/* } */
