@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants dark {
    .filter-none {
      filter: none;
    }
    .filter-dark {
      filter: brightness(0.7);
    }
  }
}

:root {
  --color-primary: #000;
  --color-primary-hover: rgba(0, 0, 0, 0.6);
  --color-background: #fff;
  --color-border: rgba(0, 0, 0, 0.025);
  --color-link-underline: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #fff;
    --color-primary-hover: rgba(255, 255, 255, 0.6);
    --color-background: #1a1a1a;
    --color-border: rgba(255, 255, 255, 0.025);
    --color-link-underline: rgba(255, 255, 255, 0.1);
  }
}


a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 1px solid var(--color-link-underline);
  transition-duration: 50ms, 0.1s, 0.1s;
  transition-timing-function: linear;
  transition-property: border-color, color, padding-bottom;

  &:hover {
    opacity: 0.6;
    border-bottom: transparent;
    padding-bottom: 1px;
  }
}

.nonanimated-link {
  border: none;
  transition: none;
}

.nonanimated-link:hover {
  opacity: 0.6;
  border: none;
  padding: 0;
}

.table-of-contents {
  @apply text-sm;
  @apply mb-4;
  @apply text-gray-700 dark:text-gray-200;

  li,
  p {
    @apply my-1;
  }
  ul {
    @apply my-0;
  }

  li > ul {
    @apply ml-6;
  }
}
