@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #000;
  --color-primary-hover: rgba(0, 0, 0, 0.6);
  --color-background: #fff;
  --color-border: rgba(0, 0, 0, 0.025);
  --color-link-underline: rgba(0, 0, 0, 0.1);
  --image-filter: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #fff;
    --color-primary-hover: rgba(255, 255, 255, 0.6);
    --color-background: #1a1a1a;
    --color-border: rgba(255, 255, 255, 0.025);
    --color-link-underline: rgba(255, 255, 255, 0.1);

    --image-filter: brightness(0.7);
  }
}


a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 1px solid var(--color-link-underline);
  transition-duration: 50ms, 0.1s, 0.1s;
  transition-timing-function: linear;
  transition-property: border-color, color, padding-bottom;

  &:hover {
    opacity: 0.6;
    border-bottom: transparent;
    padding-bottom: 1px;
  }
}

.nonanimated-link {
  border: none;
  transition: none;
}

.nonanimated-link:hover {
    opacity: 0.6;
    border: none;
    padding: 0;
  }

.portrait {
  filter: var(--image-filter);
  margin-left: auto;
  margin-right: auto;
  max-height: 20rem;
  max-width: 20rem;
  border-radius: 9999px;
  border-style: solid;
  border-width: 12px;
  border-color: var(--color-border);
}
