.footnotes {
  hr {
    @apply mt-6;
    @apply mb-4;
    @apply text-gray-800 border-gray-400;
    @media (prefers-color-scheme: dark) {
      @apply text-gray-200 border-gray-500;
    }
    /* @apply text-lg border-solid border-t p-4; */
  }

  li p {
    display: inline;
  }
}

/* code[class*='language-'], */
/* pre[class*='language-'] { */
/*   @apply text-base; */
/* } */

/* pre[class*='language-'] { */
/*   @apply rounded; */
/* } */

/* code[class*='language-'] { */
/*   word-break: break-all; */
/* } */

.dropcap {
  @apply float-left;
  font-size: 75px;
  line-height: 56px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.markdown {
  p {
    @apply my-3;
  }

  /* a { */
  /*   @apply link; */
  /* } */

  /* .header-link { */
  /*   @apply nonanimated-link; */
  /* } */

  ol,
  ul {
    @apply list-outside;
    @apply ml-6;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  figure {
    @apply mx-auto;
    @apply my-4;

    /* a { */
    /*   @apply nonanimated-link; */
    /* } */

    figcaption {
      @apply mt-1;
      @apply text-center;
      @apply text-gray-700;
      @apply text-sm;
    }
  }

  blockquote {
    @apply border-solid border-l-8 border-gray-400;
    @apply pl-6;
  }
}

.table-of-contents {
  @apply text-sm;
  @apply mb-4;
  @apply text-gray-700;

  /* a { */
  /*   @apply link; */
  /* } */
  li,
  p {
    @apply m-0;
  }
  ul {
    @apply my-0;
  }
}

h2 {
  @apply text-4xl;
  @apply my-6;
  @apply font-extrabold;
}

h3 {
  @apply text-3xl;
  @apply my-4;
  @apply font-extrabold;
}

h4 {
  @apply text-2xl;
  @apply my-4;
  @apply font-extrabold;
}

h5 {
  @apply text-xl;
  @apply my-4;
  @apply font-extrabold;
}

.table-of-contents {
  @apply text-sm;
  @apply mb-4;
  @apply text-gray-700;

  li,
  p {
    @apply m-0;
  }
  ul {
    @apply my-0;
  }
}

li > ul {
  margin-left: 1.45rem;
}
