{{ define "main" }}

<h1 class="text-4xl mb-1 leading-none">{{ .Title }}</h1>
<div class="text-sm text-gray-600 dark:text-gray-300 mb-3">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format "January 2, 2006" }}
  </time>
  ·
  <span>{{.ReadingTime}} minute read</span>
</div>

<details class="table-of-contents">
  <summary class="text-lg leading">Table of Contents</summary>
  {{.TableOfContents}}
</details>


<content class="prose dark:prose-dark">
  {{ .Content }}
</content>

{{ end }}
