<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <header class="masthead">
    <h1 class="masthead-title">
      <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
    </h1>
    <nav>
      <a href="/about">About</a>
      <a href="/archive">Archive</a>
      <!--<a href="/atom">Feed</a>-->
    </nav>
  </header>

  {{ content }}

  <footer class="footer">
    <small>
      &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a rel="license" href="{{ site.license.url }}">{{ site.license.text }}</a>.
    </small>
  </footer>
</body>
</html>
